<div class="row">
    <div class="col">
        <div class="jumbotron">
            <h1 class="display-4">Welcome to Our Sales App
            </h1>
            <hr class="my-4">
            
        </div>
    </div>
</div>

<div class="row">
    <div class="card-group p-3">
        <div class="card">
          <img src="../img/ind1.png" class="card-img-top3 p-2" alt=".dumy.png">
          <div class="card-body">
            <h5 class="card-title">Suspension</h5>
            <p class="card-text"><small class="text-muted">B Auto Part</small></p>
          </div>
        </div>
        <div class="card">
          <img src="../img/cart.png" class="card-img-top p-2" alt="img/dumy.png">
          <div class="card-body">
            <h5 class="card-title">Accessory</h5>
            <p class="card-text"><small class="text-muted">B Auto Part</small></p>
          </div>
        </div>
        <div class="card">
          <img src="../img/images.png" class="card-img-top p-2" alt="img/dumy.png">
          <div class="card-body">
            <h5 class="card-title">Engine</h5>
            <p class="card-text"><small class="text-muted">B Auto Part</small></p>
          </div>
        </div>
      </div>
</div>
