<nav class="navbar sticky-top navbar-expand-lg" style="background-color: rgb(42, 55, 82);">
  <div class="container-fluid">
    <a class="navbar-brand text-light">
      <img src="../img/bootstrap-logo.svg" alt="" width="30" height="24" class="d-inline-block align-text-top">
      Auto Part
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link text-light" href="/home">Home</a>
        <a class="nav-link text-light" href="/customer/list-customer">Costumer</a>
        <a class="nav-link text-light" href="/product/list-product">Product</a>
        <a class="nav-link text-light" href="/sales/list-product">Buy Product</a>
      </div>
    </div>
    <div class="navbar-nav">
      <a class="btn btn-danger float-end" href="/logout" role="button"><i class="bi bi-box-arrow-right"></i> Logout</a>
    </div>
  </div>
</nav>